@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(90deg, rgba(47,5,233,1) 0%, rgba(158,0,255,1) 99%);
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0000004a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}